{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Learn Logs New Topic</title>#}
{#</head>#}
{#<body>#}
{##}
{#<form action="{% url 'new_topic_view' %}" method="post" >#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit" value="add topic">#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}


{% extends "base.html" %}
{% block content %}
    <p>Add a new topic:</p>
  <form action="{% url 'learn_logs_topic_new' %}" method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">add topic</button>
</form>
{% endblock content %}